window {
  margin: 0px;
  border: 2px solid #444444;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.85);
  font-family: "otf-san-francisco";
  font-size: 14pt;
  color: white;
}

#input {
  margin: 10px;
  padding: 6px 10px;
  border: none;
  border-radius: 6px;
  background-color: rgba(50, 50, 50, 0.6);
  color: white;
}

#entry {
  padding: 10px;
  border: none;
  border-radius: 6px;
}

#entry:selected {
  background-color: #44475a;
  color: white;
}
